<div class="container">
  <tabset>
    <tab>
      <ng-template tabHeading>
        <span>Basic Info</span>
      </ng-template>
      <app-user-detail-view [user]="user"></app-user-detail-view>
      <button class="btn btn-danger mt-3" (click)="onLogout()">Logout</button>
    </tab>
    <tab>
      <ng-template tabHeading>
        <span>Modify</span>
      </ng-template>
      <div class="mt-3">
        <app-user-detail-form
          [user]="formUser"
          (formSubmit)="onUpdate($event)"
          [buttonText]="'Update'"
        ></app-user-detail-form>
      </div>
    </tab>
  </tabset>
</div>

<!-- Alert Component-->
<div style="position: absolute; bottom: 10px; z-index: 100">
  <app-dismissive-alert></app-dismissive-alert>
</div>
