<div *ngIf="user; else loading" class="mt-3">
  <ul class="list-group list-group-flush rounded">

    <li class="list-group-item list-group-item-primary">
      <div class="row">
        <div class="col-6 p-1">Name</div>
        <!-- make a two string method inn userName -->
        <div class="col-6 p-1">
          {{ displayUserName() }}
        </div>
      </div>
    </li>
    <li class="list-group-item list-group-item-primary">
      <div class="row">
        <div class="col-6 p-1">Email</div>
        <div class="col-6 p-1">{{ user.email }}</div>
      </div>
    </li>

    <li class="list-group-item list-group-item-primary">
      <div class="row">
        <div class="col-6 p-1">Mobile No</div>
        <div class="col-6 p-1">{{ user.mobileNumber }}</div>
      </div>
    </li>

    <li class="list-group-item list-group-item-primary">
      <div class="row">
        <div class="col-6 p-1">User Role</div>
        <div class="col-6 p-1">
          {{ displayUserType() }}
        </div>
      </div>
    </li>
    <li
      *ngIf="user.userCollege"
      class="list-group-item list-group-item-primary"
    >
      <div class="col-12 p-0">
        <accordion>
          <accordion-group>
            <div class="row p-0 m-0" accordion-heading>
              <div class="col-6">College</div>
              <div class="col-6">{{ user.userCollege.collegeName }}</div>
            </div>
            <app-college-detail-view
              [college]="user.userCollege"
            ></app-college-detail-view>
          </accordion-group>
        </accordion>
      </div>
    </li>
    <li class="list-group-item list-group-item-primary">
      <div class="col-12 p-0" *ngIf="user.userCompany">
        <accordion>
          <accordion-group>
            <div class="row p-0 m-0" accordion-heading>
              <div class="col-6">Company</div>
              <div class="col-6">{{ user.userCompany.companyName }}</div>
            </div>
            <app-company-detail-view
              [company]="user.userCompany"
            ></app-company-detail-view>
          </accordion-group>
        </accordion>
      </div>
    </li>
    <li class="list-group-item list-group-item-primary">
      <div class="row">
        <div class="col-6 p-1">Approved by Organisation Admin:</div>
        <div class="col-6 p-1">
          {{ user.adminApprovalStatus?.valueOf() }}
        </div>
      </div>
    </li>
    <li class="list-group-item list-group-item-primary">
      <div class="row">
        <div class="col-6 p-1">Account Enabled</div>
        <div class="col-6 p-1">{{ user.enabled?.valueOf() }}</div>
      </div>
    </li>
    <li class="list-group-item list-group-item-primary">
      <div class="row">
        <div class="col-6 p-1">Member Since</div>
        <div class="col-6 p-1">{{ user.createdDate }}</div>
      </div>
    </li>
  </ul>
</div>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
